@using ReaderRaport.Models

@{
    if (!((Library)Session["library"] == null)) {
        Library lib = (Library)Session["library"];
        @lib.LibraryName
    } else {
        string msg = "Not";
        @msg
    }
}

<div class="row">
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Nazwa książki </h4>
                <h6 class="card-subtitle mb-2 text-muted"> Igor Dawałka </h6>
            </div>
            <img src="http://lgimages.s3.amazonaws.com/gc-md.gif" alt="Card image">
            <div class="card-footer">
                10 - 05 - 2015
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Nazwa książki </h4>
                <h6 class="card-subtitle mb-2 text-muted"> Igor Dawałka </h6>
            </div>
            <img src="http://lgimages.s3.amazonaws.com/gc-md.gif" alt="Card image">
            <div class="card-footer">
                10 - 05 - 2015
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Nazwa książki </h4>
                <h6 class="card-subtitle mb-2 text-muted"> Igor Dawałka </h6>
            </div>
            <img src="http://lgimages.s3.amazonaws.com/gc-md.gif" alt="Card image">
            <div class="card-footer">
                10 - 05 - 2015
            </div>
        </div>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-3">
        <div class="card">
            <div class="card-body">
                <h4 class="card-title"> Nazwa książki </h4>
                <h6 class="card-subtitle mb-2 text-muted"> Igor Dawałka </h6>
            </div>
            <img src="http://lgimages.s3.amazonaws.com/gc-md.gif" alt="Card image">
            <div class="card-footer">
                10 - 05 - 2015
            </div>
        </div>
    </div>

</div>

