<div class="jumbotron">
    <h1 class="display-3">@ViewBag.Title</h1>
    <p class="lead">
        Welcome! This simple app tells you some base statistic about your reading customs. Lets prepare your data!
    </p>
</div>

