
<div class="jumbotron">
    <h1 class="display-3">@ViewBag.Title</h1>
    <p class="lead">
        Welcome! This simple app tells you some base statistic about your reading customs. Lets prepare your data!
    </p>
</div>


<h2 class="display-4">Upload .csv containing your electronic book shelf </h2>

<div id="dropSection">
    <p class="message"> Drop csv file here to generate raport.</p>
</div>
<input type="button" id="btnUpload" value="Upload" />

<br />

<div id="uploadedFile" class="alert alert-info" style="visibility: hidden">
   
</div>

@{
    <img src="@ViewBag.coverUrl" />
}

