@using ReaderRaport.Models

<h3 class="display-4">Upload .csv containing your electronic book shelf </h3>

<div id="dropSection">
    <p class="message"> Drop csv file here to generate raport.</p>
</div>
<input type="button" id="btnUpload" value="Upload" />

<br />

<div id="uploadedFile" class="alert alert-info" style="visibility: hidden">

</div>

@{
    <img src="@ViewBag.coverUrl" />
}

<p>Jesli wszystko działa to...</p>
<h1>
    @{
        if (!((Library)Session["library"] == null)) {
            Library lib = (Library)Session["library"];
            @lib.LibraryName
        }
    }
</h1>

