<h2>@ViewBag.Title</h2>

<h3 class="display-4">Upload .csv containing your electronic book shelf </h3>

<div id="dropSection">
    <p class="message"> Drop csv file here to generate raport.</p>
</div>
<input type="button" id="btnUpload" value="Upload" />

<br />

<div id="uploadedFile" class="alert alert-info" style="visibility: hidden">

</div>

@{
    <img src="@ViewBag.coverUrl" />
}

